{% extends "layout.html" %}
{% block content %}
    <h1>Interest tags</h1>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js" crossorigin="anonymous"></script>
                <h3>Please input your interest tags:</h3>
                <div class="tag-container">
                    <input type="text" value="World news,Sports,Covid" data-role="tagsinput" class="typeahead">
                </div>
        </form>
    </div>
{% endblock content %}
